.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.core.resources/.history/13/d028af5a6d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/22/80334d6a64330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/3/90764b796d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/39/5071378164330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/3a/60d2bcd86b3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/3d/d0887ea46c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/46/f0e6199864330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/5/60139d8c64330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/50/00423af46d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/54/a07f61916c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/57/708657226e3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/5e/6066f5046e3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/5e/908cb48f64330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/6/805f88286c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/6a/60d07a616d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/72/70714f9464330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/83/305a0a8c6d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/84/3050483464330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/8e/20432cf56d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/9b/d014145e64330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/9e/6078cb8564330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/b0/f0abf7506d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/b3/8011c37a64330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/b5/b06ac32f6c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/b9/000e1da06d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/b9/405bdb8c6c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/bd/60834e676d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/c0/d050927164330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/c1/d0d135046c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/c3/10ad42526e3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/c6/40279d886a3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/c7/70e7237b6a3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/cd/c0baecf26a3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/d3/70fdc0706c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/d5/204dcce76c3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/de/a02c34bb6d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/e3/c096d07564330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/ef/405d317e64330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/f6/8053ca416d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/f9/80fefd8964330017119aac69610fb27a
.metadata/.plugins/org.eclipse.core.resources/.history/f9/d0567c8f6a3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/fb/a0fe549b6d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.history/ff/d030acfa6d3300171d7cb40d13d7b1af
.metadata/.plugins/org.eclipse.core.resources/.projects/Java8InAction/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Java8InAction/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Java8InAction/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Java8InAction/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Java8InAction/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Java8InAction/.indexes/e4/2d/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Java8InAction/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.as.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.css.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.mxml.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.oomph.workingsets.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.epic.perleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/BestPriceFinderMain.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.jdt.core/1040376109.index
.metadata/.plugins/org.eclipse.jdt.core/1242869121.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1511570354.index
.metadata/.plugins/org.eclipse.jdt.core/1761014631.index
.metadata/.plugins/org.eclipse.jdt.core/1831474627.index
.metadata/.plugins/org.eclipse.jdt.core/2171826273.index
.metadata/.plugins/org.eclipse.jdt.core/2376625133.index
.metadata/.plugins/org.eclipse.jdt.core/2783648097.index
.metadata/.plugins/org.eclipse.jdt.core/2802271970.index
.metadata/.plugins/org.eclipse.jdt.core/306326927.index
.metadata/.plugins/org.eclipse.jdt.core/3085072714.index
.metadata/.plugins/org.eclipse.jdt.core/3357112224.index
.metadata/.plugins/org.eclipse.jdt.core/3683318637.index
.metadata/.plugins/org.eclipse.jdt.core/3754701134.index
.metadata/.plugins/org.eclipse.jdt.core/419607439.index
.metadata/.plugins/org.eclipse.jdt.core/4291364629.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Java8InAction/2017/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Java8InAction/2017/5/19/refactorings.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.0.20150526-2032.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.damonx-imac_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.damonx-imac_0/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.damonx-imac_0/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock
RemoteSystemsTempFiles/.project
